
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Anything you want
    </div>
    <strong>Copyright &copy; 2017 <a href="#">zzcl</a>.</strong> All rights reserved.
</footer>
<aside class="control-sidebar control-sidebar-dark">

</aside>
<div class="control-sidebar-bg"></div>
</div>
<script src="/libs/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/libs/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<script src="/libs/AdminLTE/dist/js/app.min.js"></script>
</body>
</html>