<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminlte/font-awesome.min.css">
    <link rel="stylesheet" href="/css/adminlte/ionicon.min.css">
    <link rel="stylesheet" href="/libs/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/libs/AdminLTE/dist/css/skins/skin-blue.min.css">
    <!--[if lt IE 9]>
    <script src="/js/adminlte/html5shiv.min.js"></script>
    <script src="/js/adminlte/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">