<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminlte/font-awesome.min.css">
    <link rel="stylesheet" href="/css/adminlte/ionicon.min.css">
    <link rel="stylesheet" href="/libs/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/libs/AdminLTE/dist/css/skins/skin-blue.min.css">
    <!--[if lt IE 9]>
    <script src="/js/adminlte/html5shiv.min.js"></script>
    <script src="/js/adminlte/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="/admin" class="logo">
            <span class="logo-mini"><b>G</b>o</span>
            <span class="logo-lg">ZZCL</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">打开/关闭菜单</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有4条消息</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="/libs/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle"
                                                     alt="user image">
                                            </div>
                                            <h4>
                                                小队队长
                                                <small><i class="fa fa-clock-o"></i> 5 分钟</small>
                                            </h4>
                                            <p>小队组员都死哪里去了？</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">查看所有消息</a></li>
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o">2</i>
                            <span class="label label-warning">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header"> 您有 3 条提醒</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i>
                                            5 个新朋友来啦!
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">查看所有</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown tasks-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- Inner menu: contains the tasks -->
                                <ul class="menu">
                                    <li><!-- Task item -->
                                        <a href="#">
                                            <!-- Task title and progress text -->
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <!-- The progress bar -->
                                            <div class="progress xs">
                                                <!-- Change the css width attribute to simulate progress -->
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/libs/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="">
                </div>
                <div class="pull-left info">
                    <p> zhenglongfan</p>
                    <a href="#">
                        <i class="fa fa-circle text-success"></i>Online
                    </a>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">主页</li>
                <li class="active">
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>主页信息</span>
                    </a>
                </li>
                <li class="header">数据操作</li>
                <li>
                    <a href="/admin/users">
                        <i class="fa fa-link"></i>
                        <span> 用户管理 </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/categories">
                        <i class="fa fa-link"></i>
                        <span>分类管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>文章管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>链接管理</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>菜单管理</span>
                    </a>
                </li>
                <li class="header">系统操作</li>
                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>系统设置</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>系统菜单</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>