<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/quill/dist/quill.snow.css">
        <link href="/js/highlight/styles/monokai-sublime.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/iconfont/iconfont.css">
        <link rel="stylesheet" href="/css/theme/rain-night/style.css">
        <script src="/libs/jquery/dist/jquery.min.js"></script>
        <script src="/libs/semantic/dist/semantic.min.js"></script>
    </head>
    <body>
    <div class="bg-cover"></div>
    <%- include nav.ejs %>
    <%- include notification.ejs %>