<% include components/header.ejs %>
<div class="main">
    <div class="wrap">
        <div class="ui grid">
            <div class="ten wide column center">

            </div>
        </div>
    </div>
</div>

<% include components/footer.ejs %>