<% include components/header.ejs %>
<div class="main">
    <div class="wrap">
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="fourteen wide column">
                <div class="article">
                    <div class="article-header">
                        <h2><%= article.title %></h2>
                        <p class="time"><%= article.create_at%> <span class="category"><%= article.category.name %></span></p>
                        <p>转载地址:<a href="" id="share_url"></a>，请尊重作者的劳苦用心</p>
                    </div>
                    <div class="article-body">
                        <div class="content">
                            <%- article.content %>
                        </div>
                    </div>
                    <div class="article-footer">

                    </div>
                </div>
                <div class="comment">
                    <!-- UY BEGIN -->
                    <div id="uyan_frame"></div>
                    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2123254"></script>
                    <!-- UY END -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#share_url').attr('href', location.href).text(location.href);
    })
</script>
<% include components/footer.ejs %>