<% include components/header.ejs %>
<div class="main">
    <div class="wrap">
        <div class="input-container">
            <div class="ui fluid icon input">
                <input type="text" name="search" placeholder="骚年，来一发呗...">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="ui accordion">
            <% categories.forEach(function(category){ %>
                <div class="title">
                    <i class="iconfont icon-<%= category.icon %> cy-icon-list"></i>
                    <%= category.name %>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include components/footer.ejs %>