<% include components/header.ejs %>

<div class="main">
    <div class="wrap">
        <div class="ui grid">
            <div class="sixteen wide column">
                <form class="ui form segment" method="post" action="/articles/create">
                    <div class="field required">
                        <label>标题</label>
                        <input type="text" name="title">
                    </div>
                    <div class="field required">
                        <label>描述</label>
                        <input type="text" name="description">
                    </div>
                    <div class="field required">
                        <label>分类</label>
                        <select name="category" class="ui fluid search selection dropdown">
                            <option value="">选择分类(不存在创建否则留空)</option>
                            <% categories.forEach(function(category) { %>
                            <option value="<%= category._id %>"><%= category.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="field">
                        <label>创建新分类</label>
                        <input type="text" placeholder="如果选择了分类请留空" name="newCategory">
                    </div>
                    <div class="field required">
                        <label>内容</label>
                        <textarea name="content" style="height: 500px" id="article_content"></textarea>
                    </div>
                    <input type="submit" class="ui button green fluid" value="发布文章">
                </form>
            </div>

        </div>
    </div>
</div>
<script src="/libs/plupload/js/plupload.full.min.js"></script>
<script src="/libs/plupload/js/i18n/zh_CN.js"></script>
<script src="/libs/qiniu/dist/qiniu.min.js"></script>
<script src="/js/editor.config.js"></script>
<script src="/js/create.js"></script>
<% include components/footer.ejs %>