<%- include components/header.ejs %>

<div class="main">
    <div class="wrap">
        <div class="ui grid">
            <div class="sixteen wide column">
                <form class="ui form segment" method="post" action="/posts">
                    <div class="field required">
                        <label>标题</label>
                        <input type="text" name="title">
                    </div>
                    <div class="field required">
                        <label>内容</label>
                        <textarea style="height: 500px" id="article_content"></textarea>
                    </div>
                    <input type="submit" class="ui button" value="发布">
                </form>
            </div>

        </div>
    </div>
</div>
<script src="/js/editor.config.js"></script>
<script src="/js/create.js"></script>

<%- include components/footer.ejs %>