<!doctype html>
<html lang="Zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="bg-cover"></div>
    <% include components/nav.ejs %>
    <div class="main">
        <div class="wrap">
            <div class="container">
                <div class="my-some-info">
                    <div class="my-pic" style="<% if(user){ %> background-image: url(/img/upload/<%= user.avatar %>) <% } %>;"></div>
                    <div class="my-description ui raised segment">
                        <a class="ui colorbba ribbon label">description</a>
                        <p>我就是我，不一样的烟火!</p>
                        <p>愿意coding就coding,不愿意coding,我就去种地!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-wrap">
            <a style="display: block;" class="" href="/articles">
                <div class="next" title="点击查看近期动态"><i class="angle double down icon "></i></div>
            </a>
        </div>
    </div>
</body>
</html>