<!doctype html>
<html lang="Zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/theme/normal/index.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="bg-cover"></div>
    <% include components/nav.ejs %>
    <div class="main">
        <div class="wrap">
            <div class="container">
                <div class="my-some-info">
                    <div class="my-pic" style="<% if(user){ %> background-image: url(/img/upload/<%= user.avatar %>) <% } %>;"></div>
                    <div class="my-description ui raised segment">
                        <a class="ui colorbba ribbon label">description</a>
                        <% if(user) { %>
                        <p><%= user.bio %></p>
                        <% } else { %>
                        <p>分享你所知道的知识!</p>
                        <p>&nbsp;&nbsp; 让别人知道你所知道的!</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-wrap">
            <a style="display: block;" class="" href="/articles">
                <div class="next" title="点击查看近期动态"><i class="angle double down icon "></i></div>
            </a>
        </div>
    </div>
    <% if(!user) { %>
    <div class="bottom-bar">
        <div class="left">
            <a href="/signin">登陆</a>|<a href="/signup">注册</a>
        </div>
    </div>
    <% } %>
</body>
</html>