<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/theme/normal/style.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/wangEditor/dist/js/wangEditor.min.js"></script>
</head>
<body>
    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            <div class="logo">
                <div ><a class="title" href="/"><%= title %></a></div>
                <div class="description">想你所想，做你想做</div>
            </div>
            <form action="" class="ui form segment" method="post">
                <div class="field required <% if(error) {%> error <% }%>">
                    <label>用户名</label>
                    <input placeholder="用户名" autofocus type="text" name="name">
                </div>
                <div class="field required <%if(error) {%> error <%}%>">
                    <label>密码</label>
                    <input placeholder="密码" type="password" name="password">
                </div>
                <input type="submit" class="ui button fluid green" value="登录">
            </form>
        </div>
    </div>
</body>
</html>
