<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/semantic/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            <div class="logo">
                <div ><a class="title" href="/"><%= title %></a></div>
                <div class="description">想你所想，做你想做</div>
            </div>
            <form class="ui form segment" method="post" enctype="multipart/form-data">
                <div class="field required">
                    <label>用户名</label>
                    <input placeholder="用户名" type="text" name="name">
                </div>
                <div class="field required">
                    <label>邀请码</label>
                    <input type="text" placeholder="邀请码" name="code">
                </div>
                <div class="field required">
                    <label>密码</label>
                    <input placeholder="密码" type="password" name="password">
                </div>
                <div class="field required">
                    <label>重复密码</label>
                    <input placeholder="重复密码" type="password" name="repassword">
                </div>
                <div class="field required">
                    <label>头像</label>
                    <div class="ui left action input">
                        <div class="ui labeled icon button green">
                            <input type="file" name="avatar" onchange="$('#show_name').val(this.value)">
                            <i class="file image outline icon"></i>
                            上传文件
                        </div>
                        <input type="text" id="show_name" value="">
                    </div>
                </div>
                <div class="field required">
                    <label>个人简介</label>
                    <textarea name="bio" rows="5" v-model="user.bio"></textarea>
                </div>
                <input type="submit" class="ui button fluid green" value="注册">
            </form>
        </div>
    </div>
</body>
</html>