@import './header.less';
body { overflow-y: auto; }
.main { width: @width100; }
.wrap { width: @width1024; .rel(@mg: 0 auto); margin-top: 20px; }

/*signin*/
.logo { text-align: center; padding-top: 50px;
    .title { font-size: @nav_title; font-weight: 600; padding-bottom: 3px; color: @color2b4;
        &:hover { border-bottom: 2px solid @color2b4; }
    }
    .description { font-size: @ts; color: @colorddd; margin-top: 10px; }
}
/*signup*/
.form input[type=file] { .abs(@top: 0, @left: 0); z-index: 10; display: block; width: 100%; height: 100%;
    opacity: 0; }

/*articles*/
.menu-list { width: @width100; .bsh(0, 0, 2px, 2px, @color763);
        padding: 8px 4px; border-radius: @br;
    .list-item { line-height: @nlh; border-bottom: 1px solid @color763;
        padding: 4px 2px;
        &:last-child { border-bottom: none; }
        a { display: block; }
    }
}
/*articles*/
.content-list { width: @width100;
    .list-item { width: @width100; height: 128px; .overfl; }
    .item-pic { width: @pic_width; height: @pic_width; background-position: center;
        background-size: contain; border: 1px solid @colorbba; border-radius: @br3;  }
    .item-left { width: 15%; }
    .item-right { width: 80%;

        a { display: block; width: @width100; }
    }
    .header { color: @color763; font-size: @atitlefs;  }
    .simple-content {  width: @width100; overflow: hidden; white-space: nowrap; text-overflow: ellipsis !important;
            .rel(@mg: 20px auto 10px auto); }
    .left {
        .item-top>div {
            float: left;
        }
    }
    .right {
        .item-top>div {
            float: right;
        }
    }
    .item-bottom { .overfl; border-top: 2px solid @colora97; margin-top: 15px;

        .time { float: left; }
        .fn-tool { float: right; }
        .unhide, .outline, .share { color: @color763; }
    }


}

/*article*/
.article { }
.article-header { margin-top: 5px;
    h2 { font-family: @fmsf; }
    p { margin-top: 2px; margin-bottom: 2px; color: @color333; font-size: @ss; }
    a { text-decoration: underline; color: @color333; }
    .article-category { padding: 2px 4px; background-color: @colora97; border-radius: @br5;
        color: @colorfff; }
}
.article-body { margin-top: 20px;
    // .content { text-indent: 2em; font-size: @afs; line-height: 20px; }
}
.article-footer { height: 150px; }