* {
  transition: all .3s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #dbdfd9;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background: #333333;
}
ul,
li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000000;
}
/**定义渐变色 */
.overfl {
  overflow: hidden;
  zoom: 1;
}
.cf {
  text-align: center;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
/**定义数值*/
/*字体定义*/
/**网站基色 */
.colora97 {
  background: #a69e70 !important;
}
.color763 {
  background: #766e3f !important;
}
.colorbba {
  background: #b6b9a3 !important;
}
.colorddd {
  background: #dbdfd9 !important;
}
.coloreee {
  background: #eeefea !important;
}
.nav {
  height: 80px;
  width: 100%;
  color: #0f0f0f;
  position: relative;
  margin: 0;
  line-height: 80px;
  border-bottom: 2px solid #eeefea;
}
.nav-container {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  zoom: 1;
}
.nav-container .right {
  float: right;
}
.nav-container .left {
  float: left;
  line-height: 80px;
  font-size: 24px;
  font-weight: 900;
}
.nav-container .strong1 {
  color: #b6b9a3;
  font-size: 30px;
}
.nav-container .strong2 {
  color: #a69e70;
}
.nav-container .menu-item {
  float: right;
  font-size: 16px;
  width: 100px;
  line-height: 80px;
  text-align: center;
}
.nav-container a {
  display: block;
}
.nav-container a:hover {
  color: #ffffff;
  background: #b6b9a3;
}
.nav-container .user-info a:hover {
  color: #000;
  background: #eeefea;
}
.nav-container .user-info .pic {
  width: 50px;
  height: 50px;
  background: center;
  background-size: cover;
  border-radius: 1px;
  border: 1px solid #ffffff;
  position: relative;
  margin: 10px auto 0;
}
.nav-container .user-info p {
  font-size: 12px;
}
.nav-container .active {
  background: #b6b9a3;
  color: #ffffff;
}
.nav-container .active a {
  color: #ffffff;
}
body {
  overflow-y: auto;
}
.main {
  width: 100%;
}
.wrap {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}
/*signin*/
.logo {
  text-align: center;
  padding-top: 50px;
}
.logo .title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 3px;
  color: #21BA45;
}
.logo .title:hover {
  border-bottom: 2px solid #21BA45;
}
.logo .description {
  font-size: 8px;
  color: #dbdfd9;
  margin-top: 10px;
}
/*signup*/
.form input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*articles*/
.menu-list {
  width: 100%;
  box-shadow: 0 0 2px 2px #766e3f;
  -o-box-shadow: 0 0 2px 2px #766e3f;
  -moz-box-shadow: 0 0 2px 2px #766e3f;
  -webkit-box-shadow: 0 0 2px 2px #766e3f;
  padding: 8px 4px;
  border-radius: 1px;
}
.menu-list .list-item {
  line-height: 32px;
  border-bottom: 1px solid #766e3f;
  padding: 4px 2px;
}
.menu-list .list-item:last-child {
  border-bottom: none;
}
.menu-list .list-item a {
  display: block;
}
.content-list {
  width: 100%;
}
.content-list .list-item {
  width: 100%;
  height: 128px;
  overflow: hidden;
  zoom: 1;
}
.content-list .item-pic {
  width: 88px;
  height: 88px;
  background-position: center;
  background-size: contain;
  border: 1px solid #b6b9a3;
  border-radius: 88px;
}
.content-list .item-left {
  width: 15%;
}
.content-list .item-right {
  width: 80%;
}
.content-list .item-right a {
  display: block;
  width: 100%;
}
.content-list .header {
  color: #766e3f;
  font-size: 20px;
}
.content-list .simple-content {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  position: relative;
  margin: 20px auto 10px auto;
}
.content-list .left .item-top > div {
  float: left;
}
.content-list .right .item-top > div {
  float: right;
}
.content-list .item-bottom {
  overflow: hidden;
  zoom: 1;
  border-top: 2px solid #a69e70;
  margin-top: 15px;
}
.content-list .item-bottom .time {
  float: left;
}
.content-list .item-bottom .fn-tool {
  float: right;
}
.content-list .item-bottom .unhide,
.content-list .item-bottom .outline,
.content-list .item-bottom .share {
  color: #766e3f;
}
/*article*/
.article-header {
  margin-top: 5px;
}
.article-header h2 {
  font-family: 'serif';
}
.article-header p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #333333;
  font-size: 12px;
}
.article-header a {
  text-decoration: underline;
  color: #333333;
}
.article-body {
  margin-top: 20px;
}
.article-footer {
  height: 150px;
}
