* {
  transition: all .3s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 1px;
}
textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background-color: #333;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #444;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background: #333;
}
ul,
li {
  list-style: none none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000000;
}
