* {
  transition: all .3s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 1px;
}
textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background-color: #333;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #444;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background: #333;
}
ul,
li {
  list-style: none none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000000;
}
/**定义渐变色 */
.overfl {
  overflow: hidden;
  zoom: 1;
}
.cf {
  text-align: center;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
.txtof {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.bg-cover {
  width: 100%;
  height: 100%;
  background: #1F160F url(../../../img/rain-body.jpeg) no-repeat top center;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
.nav {
  width: 100%;
  color: #fff;
  position: relative;
  margin: 0;
  z-index: 2;
}
.nav .nav-container {
  overflow: hidden;
  zoom: 1;
  margin: 32px auto;
  width: 1024px;
}
.nav .user-info {
  display: none !important;
}
.nav .left {
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.nav .right {
  float: right;
  overflow: hidden;
  zoom: 1;
}
.nav .menu-item {
  float: right;
  display: block;
  border: 2px solid transparent;
}
.nav .menu-item a {
  color: #fff;
  display: block;
  width: 80px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 4px;
}
.nav .menu-item:hover {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.main {
  width: 100%;
  overflow: hidden;
  zoom: 1;
  position: relative;
  z-index: 3;
}
.main .wrap {
  width: 1024px;
  margin: 20px auto;
  color: #bbb;
  background-color: rgba(0, 0, 0, 0.4);
}
.main .content-list {
  padding: 0 8px;
}
.main .content-list a {
  color: #fff;
}
.main .list-item {
  margin-bottom: 16px;
}
.main .list-item .item-left {
  display: none;
}
.main .list-item .simple-content {
  display: none;
}
.main .list-item .item-bottom {
  position: relative;
  margin: 0;
}
.main .list-item .time {
  display: none;
}
.main .rain-item-top {
  margin-bottom: 8px;
}
.main .rain-item-top .rain-date {
  color: #bbb;
}
.main .item-right .header {
  margin-bottom: 6px;
  color: #b87209;
}
.main .item-right .header:hover {
  color: #f90;
  text-decoration: underline;
}
.main .item-right .min-content {
  max-height: 60px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-rient: vertical;
  overflow: hidden;
  width: 100%;
}
.main .item-bottom .ar-ps {
  margin-top: 10px;
}
.main .item-bottom .ar-usr {
  color: #f90;
}
.main .item-bottom .ar-time {
  color: #f90;
}
/*signin.ejs*/
.logo {
  text-align: center;
  padding-top: 50px;
}
.logo .title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 3px;
  color: #bbb;
}
.logo .description {
  font-size: 8px;
  margin-top: 10px;
  color: #ccc;
}
.segment {
  background-color: transparent !important;
  border: none;
}
.segment label {
  color: #bbb !important;
}
.segment input {
  background: transparent !important;
  border: 1px solid #bc9458 !important;
  color: #fff !important;
}
.segment input[type='submit'] {
  background-color: #bc9458 !important;
}
/* article */
#share_url {
  text-decoration: underline;
}
.javascript.hljs {
  background-color: rgba(0, 0, 0, 0.5);
}
.create-articles {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #00a157;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.create-articles:hover {
  color: #ffffff;
}
.back-top {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 110px;
  right: 50px;
  background-color: #902b2b;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
}
.back-top:hover {
  color: #ccc;
}
.ql-tool {
  color: #ccc;
}
