* {
  transition: all .3s;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #eeefea;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background-color: #b8b278;
}
body::-webkit-scrollbar {
  width: 5px;
  background: #dbdfd9;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 6px;
  background: #333333;
}
ul,
li {
  list-style: none none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000000;
}
/**定义渐变色 */
.overfl {
  overflow: hidden;
  zoom: 1;
}
.cf {
  text-align: center;
}
.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
.txtof {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
/**定义数值*/
/*字体定义*/
/**网站基色 */
.colora97 {
  background: #a69e70 !important;
}
.color763 {
  background: #766e3f !important;
}
.colorbba {
  background: #b6b9a3 !important;
}
.colorddd {
  background: #dbdfd9 !important;
}
.coloreee {
  background: #eeefea !important;
}
/*simple icon define*/
.icon-node:before {
  content: "N";
}
