
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483814350074'); /* IE9*/
  src: url('iconfont.eot?t=1483814350074#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483814350074') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483814350074') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483814350074#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bootstrap:before { content: "\e602"; }

.icon-php:before { content: "\f0024"; }

.icon-socialangular:before { content: "\e858"; }

.icon-socialjavascriptoutline:before { content: "\e89c"; }

.icon-webapp:before { content: "\e60e"; }

.icon-html5:before { content: "\e74e"; }

.icon-pxreact2:before { content: "\e600"; }

.icon-java:before { content: "\e60a"; }

.icon-mysql:before { content: "\e728"; }

.icon-css3:before { content: "\e636"; }

.icon-jquery:before { content: "\e605"; }

.icon-android:before { content: "\e6a0"; }

.icon-languagepythontext:before { content: "\e916"; }

.icon-nodejs:before { content: "\e989"; }

.icon-heikedangan:before { content: "\e656"; }

.icon-other:before { content: "\e624"; }

.icon-tool:before { content: "\e604"; }

.icon-oGDwRZJ01:before { content: "\e633"; }

.icon-amy-db-redis:before { content: "\ed81"; }

.icon-mongo-db:before { content: "\e653"; }

